<h1>Github Users and their Repositories</h1>
<div class="container">
  <div class="item" *ngFor="let user of userData">
    <img src="{{ user.avatar_url }}" alt="userAvatar" />

    <div class="item-content">
      <h2>
        {{ user.login }}
      </h2>
      <p>Click the button to see {{ user.login }}'s repositories</p>
      <button (click)="getRepos(user.login)">SHOW</button>
    </div>
  </div>
</div>

<div id="repos" class="repos-container" *ngIf="userIsSelected">
  <h2>Selected User repositories:</h2>
  <ul>
    <li class="repos-item" *ngFor="let repo of userRepos">
      Repo name: <b>{{ repo.name }}</b
      >, Repo ID: <b>{{ repo.id }}</b> |
      <a href="{{ repo.html_url }}">Click to visit Repository on GitHub</a>
    </li>
  </ul>
</div>
